%flex-bettween{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;

}
%center{
    margin-left: auto;
    margin-right: auto;
}

@mixin display-on($screen-size,$display){
    @media screen and (min-width:$screen-size) {
        display: $display;
    }
}
@mixin flex-on($screen-size,$direction){
    @media screen and (min-width:$screen-size) {
        flex-direction: $direction;
        height: 500px;
    }
}
%box-shadow{

    box-shadow: 0px 4px 24px rgba(17,121,56,0.05);

}

%grid-template-mv{
    grid-template-rows: $row-3;
    grid-template-columns: $col-1;
}
%grid-template-web{
    grid-template-rows: $row-1;
    grid-template-columns: $col-3;
}