// COLORS
$color_white: white;
$color_black: black;
$color_green-head:#117938;
$color_background-secundary: #F4EEEB;
$color-brown: #975A3F;
$height-container: 600px;
$color-grey: grey;
$color-white-transparent: rgba(255,255,255,0.9);

// Sizes
$height_navbar: 70px;
$height_mainBody: 600px;
$fontsize_navbar: 0.8rem;
$maxWidth_center: 1300px;

// inactive


// grid template

$col-3: 1fr 1fr 1fr;
$row-1: 200px;
$row-3: 200px 200px 200px;
$col-1:1fr;