//buttons

.btn{
    width: 100%;
    max-width: 160px;
    color: $color-white;
    border: 1px solid white;
    padding: 0.7rem 2rem;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.btn-green{
    background-color: $color_green-head;
}
.btn-green:hover{
    background-color: $color-brown;
    color:  $color-white;
}