.center-body{
    @extend %center;
    max-width: $maxWidth_center;
}
.container-flex{
    padding: 0 0.8rem;
    @extend %flex-bettween;
    flex-direction: column;
    @include flex-on(700px,row);
    .flex-element{
        width: 100%;
        margin: 0;
        
        h1{
            font-size: 2em;
        }
    }
    .img-element{
        position: relative;
        width: 100%;
        @extend %flex-center;

        img{
            display: inline;
            z-index: 5;

        }
        .video{
            display: none;
            height: 500px;
            position: relative;
            z-index: 12;
            @extend %flex-center;
            width:100%;
            overflow: hidden;
        }
        .play{
            display: none;
            cursor: pointer;
            @include display-on(1500px,flex);
            width: 90px;
            height: 90px;
            position: absolute;
            background-color: #FFC215;
            left: -50px;
            z-index: 12 ;
            font-size: 1rem;
            @extend %flex-center;

        }
        .play i{
            transition-duration: 0.5s;
        }
        .play:hover i{
            transform: scale(1.5);
        }
    }

    .img-element::after{
        content: "";
        display: none;
        position: absolute;
         width: 100%;
         height: 40%;
         background-color: #FFC215;
        bottom: 0%;
        z-index: -0.5;
    }
}
.container-fluid{
    width: 100%;
    position: absolute;
    left: 0;
  
}
.flex-card{

    p{
        margin: 1.2rem 0; 
        
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    .btn{
        margin-top: auto;
        align-content: flex-end;

    }
    
}
//  banner
.fixed-banner{

    position: fixed;
    top: 40%;
    z-index: 12;
    width: 3.8rem;
    height: 10rem;
    @extend %flex-center;
    box-shadow: 0px 0px 2px -1px rgba(0,0,0,0.75);
}
.banner-left{

    position: relative;
    left: 0;
    width: 3.8rem;

    @extend %flex-center;
    flex-direction: column;
    transform: rotate(270deg);
}
.text-banner{
    color: white;
    text-align: center;
    position: relative;
    height: 1.3rem;
    width: 10rem;
    background-color: #085425;
}
.banner-social{
    position: relative;
    height: 2.5rem;
    width: 10rem;
    background-color: #117938;
}
// banner