
@media screen and (min-width:700px) {
        .fixed-banner{
            display: flex;
        }
        .container-flex{
            .flex-element{
                width: 500px;
            }
            .img-element{
                max-width: 550px;
               .video{
                   display: none;
               } 


            }
        }
    }
    @media screen and (min-width:900px) {
        .context-container{
            .container-flex{
                .img-context{
                    text-align: right;  
                }
            }
            .flex-reverse{
                .img-context{
                    text-align: left;
                }
            }
        }
        .navbar-container{
            background-color: transparent;
            box-shadow: none;
        }

        .navbar{

            justify-content: flex-start;
        }
        .img-element::after{
            left: 4%;
    
        }


    .grid{
        grid-template-rows: $row-1;
        grid-template-columns: $col-3;
        .grid-item{
            flex-direction: row;
        }
    }
    }
    .flex-card{
        h1{
            font-size: 2em!important;
        }
    }
    @media screen and (min-width:1150px) {


        .container-flex {
            .flex-element{
                h1{
                    font-size: 3em;
                }
            width: 500px;
            margin: 2rem 5rem 4rem 0;
            }
            .img-element{


                .video{
                    display: flex;
                    height: auto;
                }
                    img{
                        display: none;
                    }
            }
            .img-element::after{
                display: initial;
            }
            }

    }