
@media screen and (min-width:700px) {

        .container-flex{
            .flex-element{
                width: 500px;
            }
            .img-element{
                max-width: 550px;
               .video{
                   display: none;
               } 


            }
        }
    }
    @media screen and (min-width:1150px) {
        .navbar{

            justify-content: flex-start;
        }
        .img-element::after{
            left: 4%;
    
        }
        .container-flex {
            .flex-element{
                h1{
                    font-size: 3em;
                }
            width: 500px;
            margin: 2rem 5rem 2rem 0;
            }
            .img-element{


                .video{
                    display: flex;
                    height: auto;
                }
                    img{
                        display: none;
                    }
            }
            .img-element::after{
                display: initial;
            }
            }
    
    }